doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= 'Privacy Policy'
        link(rel='stylesheet', href=site_url+'app/mobile/styles/style.css', type='text/css', media='all')
    body
        section
            .shipping_address
                .main
                    .app-content-box
                        h1 
                            img.logo(src=siteurl+logo,alt='logo')
                          
                            | !{termsandcondition}    
                                               
        style. 
             .app-content-box {
                  text-align: left;
                  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
           }
           img.logo {
                    width: 100% !important;
            }
             .blue-btn, .grn-btn {
                    background-color: #1da3bf;
                    border: 1px solid #1da3bf;
                    border-radius: 3px;
                    color: white;
                    float: right;
                    font-family: proximanovaregular;
                    padding: 11px 30px;
                    text-transform: capitalize;
                    width:100%;
                    font-size:18px;
                    margin-top: 10px;
           }
             .blue-btn:hover, .grn-btn:hover {
              background-color: #00954a;
              color: #fff;
              text-decoration: none;
           }
            